@import "../../common/style/style";
@import "../../common/style/mixin";

.header{
    @include img-100(100%,274,'../../images/bg_record.png');
    text-align: center;
    color: $tc;
    @include font-dpr(18px);
    span{
        display: block;
    }
    .span-test{
        line-height: px2rem(72);
    }
    .span-time{
        @include font-dpr(40px);
    }
    .span-t-time{
        line-height: px2rem(14);
    }
}
.content{
    .ul-time-line{
        //margin-top: px2rem(50);
        .li-item{
            @include fj(column,flex-start);
            align-items:stretch;
            .left-item{
                position: relative;
                top:0;
                left: 0;
                width: px2rem(80);
                span{
                    display: block;
                }
                .span-line{
                    @include center;
                    width: 1px;
                    height: 100%;
                    background: #b8b8b8;

                }
            }
            .right-item{
                padding-top: px2rem(50);
                .p-time{
                    margin: 0 0 px2rem(10) px2rem(37);
                }
                .item-content{
                    position: relative;
                    @include fj(column,space-between);
                    width: px2rem(604);
                    height: px2rem(230);
                    color: #FFFFFF;
                    background: url("../../images/svg/bg_list_item.svg") no-repeat ;
                    background-size: 100%;
                    .span-dot{
                        @include ct;
                        width: px2rem(20);
                        height: px2rem(20);
                        margin: px2rem(-8) 0 0 px2rem(-50);
                        background: #cccccc;
                        border-radius: px2rem(10);
                    }
                    .ic-left{
                        text-indent: px2rem(78);
                        span{
                            display: block;
                            @include font-dpr(14px);
                        }
                        em{
                            display: block;
                            @include font-dpr(16px);
                        }
                        .span-text1{
                            margin-top: px2rem(10);
                        }
                        .span-test2{
                            margin-top: px2rem(15);
                        }
                    }
                    .ic-right{
                        position: relative;
                        width: px2rem(220);
                        text-align: center;
                        line-height: invert;
                        .line{
                            @include ct;
                            width:px2rem(4);
                            height: 80%;
                            background: #82779e;
                        }
                        span{
                            @include center;
                            display: block;
                            width: 100%;
                            em{
                                @include font-dpr(32px);
                            }
                        }
                    }
                }
            }
        }
    }
    .empty{
        width: 100%;
        @include center;
        .empty-img{
            margin: 0 auto;
            @include img-100(288,288,'../../images/empty_record.png')
        }
        .p-text{
            margin-top: px2rem(32);
            color: $tc;
            text-align: center;
            @include font-dpr(16px);
        }
    }
}










