<header class="h-img"></header>
<div class="link">
    <a href="https://github.com/ZengTianShengZ/generator-z-web-cli">Github</a>
    <a href="https://www.npmjs.com/package/generator-z-web-cli">npm</a>
</div>
<p class="p-text"><%-text%></p>
<div class="icon">
    <img src="https://img.shields.io/npm/v/generator-z-web-cli.svg?style=flat-square" alt="NPM version" className="badge"/>
    <img src="https://img.shields.io/david/cnpm/npminstall.svg?style=flat-square" alt="David deps" className="badge"/>
    <img src="https://img.shields.io/npm/dm/generator-z-web-cli.svg?style=flat-square" alt="npm download" className="badge"/>
    <img src="https://img.shields.io/npm/l/generator-z-web-cli.svg" alt="License"/>
</div>
