@import "../../common/style/style";
@import "../../common/style/mixin";

#main{
    width: 100%;
    height: 100%;
    color: $tc;
    background: $bc;
    text-align: center;
    @include font-dpr(20px);
    h1{
        @include font-dpr(30px);
        padding-top: px2rem(200);
    }
    .p-text{
        margin-top: px2rem(200);
    }
}












